<h1 class="title" >Cronograma de entregables</h1>
<h2 class="proyect-title">Proyecto: </h2>
<mat-card class="deliverable-cards">
  <mat-card-title class="mat-card-title">Entregable 1:</mat-card-title>
  <mat-card-content>Este entregable consistirá en un documento detallado que describa los materiales que se van a utilizar en el proyecto, los diferentes tipos de calidad. Adicional se va a detallar los tipos de postes con sus respectivos costos de cada uno.</mat-card-content>
  <mat-icon class="mat-icon" aria-hidden="false" aria-label="Fecha Límite" fontIcon="schedule"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Fecha Límite" fontIcon="radio_button_unchecked"></mat-icon>
</mat-card>
<mat-card class="deliverable-cards">
  <mat-card-title class="mat-card-title">Entregable 2:</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-icon class="mat-icon" aria-hidden="false" aria-label="Fecha Límite" fontIcon="schedule"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Fecha Límite" fontIcon="radio_button_unchecked"></mat-icon>
</mat-card>
<mat-card class="deliverable-cards">
  <mat-card-title class="mat-card-title">Entregable 3:</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-icon class="mat-icon" aria-hidden="false" aria-label="Fecha Límite" fontIcon="schedule"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Fecha Límite" fontIcon="radio_button_unchecked"></mat-icon>
</mat-card>
<mat-card class="deliverable-cards">
  <mat-card-title class="mat-card-title">Entregable 4:</mat-card-title>
  <mat-card-content></mat-card-content>
  <mat-icon class="mat-icon" aria-hidden="false" aria-label="Fecha Límite" fontIcon="schedule"></mat-icon>
  <mat-icon aria-hidden="false" aria-label="Fecha Límite" fontIcon="radio_button_unchecked"></mat-icon>
</mat-card>

