<div class="structure">
  <mat-card class="img-card" style="width: 500px !important; height: 800px">
    <mat-card-content>
      <div class="img-container">
        <img src="assets/logo-register.png" alt="logo" style="width: 240px;">
      </div>
      <div class="label-container">
        <mat-label style="text-align: center; font-size: 50px; color: #704116;"><b>PostNetQuote</b></mat-label>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="form-card" style="width: 600px !important; height: 800px">
    <mat-card-content>
      <div class="card-info">
      <mat-label style="text-align: center; font-size: 30px"><b>Ingrese a su cuenta</b></mat-label>
      <br><br>
      <div>
        <mat-label style="text-align: left; font-size: 15px">¿Todavía no te has registrado?</mat-label>
        <button mat-button (click)="goToRegister();">Crear cuenta</button>
      </div>
      <br>
      <mat-form-field>
        <input matInput [(ngModel)]="correo_electronico" type="text" placeholder="Correo electrónico" class="input">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="contrasena" type="text" placeholder="Contraseña" class="input">
      </mat-form-field>
      <button mat-button style="color: black; background-color: #6FA9AE" class="submit-button" (click)="login();">Ingresar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
